@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*----- Variaveis Root --------*/ 
:root {
    --color-primary:#F8C300; 
    --color-white: #fff;
    --color-info-dark: #aebdbe;
    --color-info-light: #dce1eb;
    --color-light: rgba(0, 0, 0, 0.336)
    --color-dark-variant: #677483;
    --color-background: linear-gradient(#F8C300, #C39D0D);
    --color-background-dark: #1F1A17;
    --color-background-ligth: #f1f1f1;

    --card-border-radius: 2rem;
    --card-padding: 1.8rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
/*----- dark theme variaveis --------*/ 

/*----- definições gerais --------*/ 
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    overflow-x: hidden;
    color: var(--color-dark);
    
}

.container{
    padding: 8rem 8rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 2.3rem;
    color: var(--color-white);
}

h2{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-white);
}

h3{
    font-size: 36px;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.9rem;
    color: var(--color-info-dark);
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-white);
}

.btn-dark{
    color: var(--color-primary);
    background: var(--color-background-dark);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.336);
    padding: 1rem 5rem ;
    border-radius: 44px;
    transition: all 400ms ease;
    cursor: pointer;
}
.btn-dark:hover{
    box-shadow: none;
}

.btn-primary{
    color: var(--color-background-dark);
    background: var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.336);
    padding: 1rem 5rem ;
    border-radius: 44px;
    transition: all 400ms ease;
    cursor: pointer;
}
.btn-primary:hover{
    box-shadow: none;
}
input{
   background: var(--color-white); 
   padding: 1rem;
   border-radius: 8px;
   margin-bottom: 1rem;
   width: 100%;
}
label{
    font-size: 16px;
    color: var(--color-white);
    font-weight: 500;
}

.card{
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.336); 
	transition: all 400ms ease;
    margin: 1rem 1rem;
    /*-animation: fade-in linear;
    animation-timeline: view(500px 100px);-*/ 
}
/*---Animação de fazer os itens aparecerem na tela conforme o scroll acontecer
    @keyframes fade-in{
    from{ scale: .8; opacity: 0;}
    to{scale: 1; opacity: 1;}
}-----*/
/*----- Abaixo a animação qeu mostra quanto do site rodou --------*/ 
.scroll-wathcer{
    height: 1px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--color-primary);
    width: 100%;
    scale: 0 1;
    animation: scroll-wathcer linear;
    animation-timeline: scroll();
}

@keyframes scroll-wathcer{
    to{scale: 1 1;}
}
.card:hover{
    box-shadow: none;
}
/*----- Inicio Menu topo --------*/ 
header{
    background: var(--color-background-dark);
}

nav{
    background: var(--color-background-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--color-white);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.336);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 60px;
    
}
nav .logo{
    display: flex; 
    align-items: center;
}

nav .logo img{
    width: 2rem;
    margin-right: 6px;
}
nav .logo a{
    font-size: 20px;
}

nav .logo a span{
    color: var(--color-primary);
}

nav .ul{
    display: flex;  
    align-items: center;
}
nav .ul li{
    padding: 1rem;
    font-weight: 600;
    font-size: 14px;
}

nav .ul li:hover{
    color: var(--color-primary);
    transition: all 400ms ease;
}

nav .telefone-topo{
    display: flex;
    align-items: center;
    
    
}
nav .telefone-topo span{
    color: var(--color-primary);
    margin-right: 8px;
}
nav .telefone-topo p{
    color: white;
}

.hamburguer{
    display: none;
    cursor: pointer
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 300ms ease;
    background-color: var(--color-white);
}



/*-----.menu-btn, .close{
    display: none;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
}--------*/ 


/*----- Inicio hero --------*/ 
.hero-principal{
    background: var(--color-background);
    padding: 12rem 1rem 8rem 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.hero-principal h1{
    margin-bottom: 0.7rem;
    padding: 0 16rem;
    margin-bottom: 3rem;
}
.h1-hero span{
    font-size: 1.4rem;
    font-weight: 800;
} 
.hero-principal h2{

    margin-bottom: 4rem;
    padding: 0 16rem;
    font-size: 1rem;
}

/*----- Nossos serviços --------*/ 

.nossos-servicos{
    background: var(--color-background-dark);
    
    
}
.titulo-servicos{
    text-align: center;
    margin-bottom: 2rem;
}
.titulo-servicos h3{
    color: var(--color-white);
    font-size: 36px;
    text-align: center;
}

.titulo-servicos h3 span{
    color: var(--color-primary);
}
.nossos-servicos .container{
    display: inline-block;
    text-align: center;
}
.cards-servicos{
    display: grid;
    width: 96%;
    grid-template-columns: 33% 33% 33%;
}

.cards-servicos .card{
    background: rgb(0,0,0,0.3);
}

.cards-servicos .card:hover{
    box-shadow: none;
}

.cards-servicos .card .titulo-card{
    display: flex;
    margin: 1rem 0;
    align-items: center;
}
.cards-servicos .card .titulo-card span{
    color: var(--color-primary);
    margin-right: 1rem;
}
.cards-servicos .card .titulo-card h2{
    font-size: 16px;
}
.txt-card p{
    text-align: left;
    font-weight: 300;
}

.nossos-servicos .btn-primary{
    margin-top: 2rem;
}

/*----- Porque a potatohead --------*/ 

.pq-potatohead{
    display: grid;
    grid-template-columns: 40% 60%;
}
.pq-potatohead img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.pq-potatohead .conteudo-do-pq{
    display: block;
}

.pq-potatohead .conteudo-do-pq h3{
    font-size: 36px; 
    margin-bottom: 1rem;
}

.pq-potatohead .conteudo-do-pq p{
    color: var(--color-background-dark);
    margin-bottom: 8rem;

}

.pq-potatohead .conteudo-do-pq h4{
    color: var(--color-background-dark);
    font-size: 18px;
    
    margin-bottom: 2rem;
}

/*----- Metodologia --------*/ 

.metodologia .container{
    background: var(--color-background-ligth);
}

.metodologia .conteudo-metodologia h3{
    font-size: 36px;
    margin-bottom: 1rem; 
}
.metodologia .conteudo-metodologia h3 span{
    color: var(--color-primary);
}

.metodologia .conteudo-metodologia p{
    color: var(--color-background-dark);
    max-width: 45%;
    margin-bottom: 3rem;
}

.metodologia .cards-metodologia{  
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}

.metodologia .cards-metodologia .card{
    background: var(--color-white);
}

.metodologia .cards-metodologia .card h2{
    color: var(--color-background-dark);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.metodologia .cards-metodologia .card p{
    max-width: 100%;
    color: var(--color-dark-variant);
}

/*----- Nossos contato --------*/
.contato{
    background: var(--color-background);
}

.contato .container{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.contato .conteudo-contato{
    padding-right: 6rem;
    color: var(--color-white);
}

.contato .conteudo-contato small{
    color: var(--color-white);
}
.contato .conteudo-contato h3{
    font-size: 36px;
    margin-bottom: 1rem;
}
.contato .conteudo-contato h3 span{
    color: var(--color-background-dark);
}
.contato .conteudo-contato p{
    font-size: 14px;
    margin-bottom: 1rem;
}

.formulario .btn-dark{
    width: 100%;
    margin-top: 1rem;
}

/* footer */
footer{
    background-color: var(--color-background-dark);
}
footer .container{
    display: flex;
    color: white;
    padding: 4rem;
}
footer .logo{
    display: flex; 
    align-items: center;
    margin-bottom: 2rem;

}

footer .logo img{
    width: 2rem;
    margin-right: 6px;
}
footer .logo a{
    font-size: 20px;
}

footer .logo a span{
    color: var(--color-primary);
}

footer .container ul{
    width: 25%;
    margin: 30px 30px;
}
footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container .redes-sociais{
    display: flex;
}

footer .container .redes-sociais img{
    margin-right: 10px;
    width: 20px;
    
}
footer .container ul > p {
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px;
}

footer .container a{
    color: white;
}
/*================= Media Queries tablets ========*/
@media screen and (max-width: 1200px) {
    .container{
        padding: 4rem;
    }

    .hero-principal h1{
        padding: 0 1rem;
    }

    .hero-principal h2{
        padding: 0 1rem;
    }
    .cards-servicos{  
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .pq-potatohead{
        display: contents;
        flex-direction: column;   
    }
    .pq-potatohead img{
        max-height: 200px;
    }
    .pq-potatohead .conteudo-do-pq{     
        text-align: center;
    }

    .pq-potatohead .conteudo-do-pq p{
        margin-bottom: 8rem;
    }
    .pq-potatohead .conteudo-do-pq h4{
        margin-right: 0;
    
    }

    .metodologia .cards-metodologia{  
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .metodologia .conteudo-metodologia{
        text-align: center;
    }

    .metodologia .conteudo-metodologia p{
        max-width: 100%;
    }

    

}


/*================= Media Queries mobile ========*/

@media screen and (max-width: 780px){
    .cards-servicos{
        display: block;
        flex-direction: column;
        width: 100%;  
    }
  

    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .ul{
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
        background-color: var(--color-background-dark);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
       margin: 1rem 0;   
    }

    .ul.active{
        left: 0;
    }
    nav .telefone-topo{
        display: flex;
        padding: 20;
    }
    .metodologia .cards-metodologia{  
        display: block;
        width: 100%;
    }
    .metodologia .container{
        padding: 4rem ;
        background: var(--color-background-ligth);
    }
    .contato .container{
        display: block;
        align-items: center;
    }
    .contato .conteudo-contato{
        padding-right: 0;
        margin-bottom: 3rem;
        
    }
    .contato .container{
        padding:  4rem;
    }

    footer .container{ 
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 15px;
    }

}

